@(activeMenu: String)

@scripts = {
    @helper.javascriptRouter("jsRouter")(
        controllers.routes.javascript.Trucks.getTrucks,
        controllers.routes.javascript.Trucks.saveTruck,
        controllers.routes.javascript.Trucks.deleteTruck
    )

    <script type="application/javascript">
        app.controller('TrucksController', function($rootScope, $scope) {
            $scope.getTrucks = function() {
                jsRouter.controllers.Trucks.getTrucks()
                .ajax({
                    cache:false,
                    method: "GET",
                    success: function(data) {
                        $scope.$apply(function(){
                            $scope.trucks = data.list;

                            console.log(data);
                        })
                    }
                })
            };
            $scope.getTrucks();

            $scope.saveTruck = function() {
                $scope.errors = {};
                jsRouter.controllers.Trucks.saveTruck()
                .ajax({
                    cache: false,
                    method: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: $scope.selectedTruck.id,
                        lpNumber: $scope.selectedTruck.lpNumber,
                        moTTestDate: $scope.selectedTruck.moTTestDate,
                        kgLimit: $scope.selectedTruck.kgLimit,
                        available: $scope.selectedTruck.available
                    }),
                    success: function(data) {
                        $scope.$apply(function(){
                            $('#truckModal' ).modal("hide");
                            $scope.getTrucks();
                        })
                    },
                    error: function(res) {
                        $scope.$apply(function(){
                            $scope.errors = res.responseJSON;
                        })
                    }
                })
            };

            $scope.deleteTruck = function() {
                jsRouter.controllers.Trucks.deleteTruck()
                .ajax({
                    cache:false,
                    method:"POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: $scope.toDeleteTruckId
                    }),
                    success: function(data){
                        $scope.$apply(function(){
                            $scope.getTrucks();
                            $('#confirmModal' ).modal('hide');
                        })
                    }
                })
            };

            $scope.selectTruck = function(truck) {
                $scope.selectedTruck = truck;
                $scope.openModal( );
            };

            $scope.toDeleteSelection = function(id) {
                $scope.toDeleteTruckId = id;
                $scope.openModalConfirm();
            };

            $scope.clearTruck = function() {
                $scope.selectedTruck = {
                    id: null,
                    lpNumber: null,
                    moTTestDate: null,
                    kgLimit: null,
                    available: true
                }
            };


        $scope.openModal = function () {
        $('#truckModal' ).modal('show');
        }
        $scope.openModalConfirm = function () {
        $('#confirmModal' ).modal('show');
        }
        })
    </script>
}

@menubar("Gépjárművek", scripts, activeMenu) {

    <div ng-controller="TrucksController">
        @views.html.helper.panelWithTable.render("Gépjárművek", "clearTruck();openModal();", "#truckModal", "Új gépjármű hozzáadása",
            "Rendszám", "Típus", "Műszaki érvényesség", "Terhelhetőség", "truck in trucks", "{{truck.lpNumber}}", "{{truck.truckType}}",
            "{{truck.moTTestDate}}", "{{truck.kgLimit}} kg", "selectTruck(truck)", "toDeleteSelection(truck.id)", true)
        @views.html.helper.confirmationModal.render("deleteTruck()", "Biztosan törölni szeretné?")
        @views.html.trucks.truckModal.render()

    </div>
}