@(activeMenu: String)

@scripts = {
    @helper.javascriptRouter("jsRouter")(
        controllers.routes.javascript.Orders.getOrders,
        controllers.routes.javascript.Orders.saveOrder,
        controllers.routes.javascript.Orders.changeState,
        controllers.routes.javascript.Orders.shippedOut,
        controllers.routes.javascript.Orders.wfsOrder
    )

    <script type="application/javascript">
        app.controller("OrderController", function($rootScope, $scope, $http) {

            $scope.getOrders = function() {
                jsRouter.controllers.Orders.getOrders()
                .ajax({
                    cache: false,
                    method: "GET",
                    success: function(data) {
                        $scope.$apply(function(){
                            $scope.newOrders = data.new;
                            $scope.waitingOrders = data.waiting;
                            $scope.verifiedOrders = data.verified;
                            $scope.shippedOrders = data.shipped;
                            $scope.wfsTrans = data.wfs;
                            $scope.clients = data.clients;
                            $scope.productTypes = data.productTypes;
                            $scope.transporters = data.transporters;
                        })
                    }
                })
            }
            $scope.getOrders();

            $scope.clearOrder = function() {
                $scope.selectedOrder = {
                    driver: {
                        id: null
                    },
                    truck: {
                        id: null
                    },
                    address: "",
                    orderItem: {
                        fromAddress: "",
                        productType: {}
                    },
                    created: null,
                    client: {
                        address: {
                            city: {
                                id: null
                            },
                            country: {
                                id: null
                            },
                            street: "",
                            streetNumber: ""
                        }
                    },
                    id: null,
                    delivered: false,
                feedbackMsg: ""
                };
                console.log($scope.selectedOrder);
            };
            $scope.clearOrder();


            $scope.saveOrder = function() {
                $scope.errors = {};
                jsRouter.controllers.Orders.saveOrder()
                .ajax({
                    cache: false,
                    method: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: $scope.selectedOrder.id,
                        address: $scope.selectedOrder.client.address,
                        clientId: $scope.selectedOrder.client.id,
                        fromAddress: $scope.selectedOrder.orderItem.fromAddress,
                        weight: $scope.selectedOrder.orderItem.weight,
                        productTypeId: $scope.selectedOrder.orderItem.productType.id,
                        productName: $scope.selectedOrder.orderItem.productName
                    }),
                    success: function(data) {
                        $scope.$apply(function(){
                            $('#orderModal' ).modal("hide");
                            $scope.getOrders();
                        })
                    },
                    error: function(res) {
                        $scope.$apply(function(){
                            $scope.errors = res.responseJSON;
                        })
                    }
                })
            };


            $scope.fillStates = function() {
                $scope.states =['@models.orders.Order.OrderState.NEW.getName()',
                                '@models.orders.Order.OrderState.VERIFIED.getName()',
                                '@models.orders.Order.OrderState.SHIPPED.getName()'];
                $scope.state = $scope.states[0];
            };
            $scope.fillStates();


            $scope.selectState = function(state) {
                if($scope.isNew($scope.selectedOrder)) {
                    $('#sendOutModal' ).modal('show');
                } else {
                    $scope.state = state ;
                    $('#confirmModal' ).modal('show');
                }
            }

            $scope.selectOrder = function(order) {
                $scope.errors = {};
                $scope.selectedOrder = order;
                $scope.selectedOrder.client = $rootScope.getObjectById($scope.clients, $scope.selectedOrder.client.id)
                $scope.selectedOrder.orderItem.productType = $rootScope.getObjectById($scope.productTypes, $scope.selectedOrder.orderItem.productType.id);
                $scope.selectedOrder.transport = {
                    driver: {
                        id:null
                    }
                };
                $scope.selectedOrder.truck = {id:null};
            };


            $scope.isNew = function(order) {
                return order.state == '@models.orders.Order.OrderState.NEW.getName()';
            }
            $scope.isVerified = function(order) {
                return order.state == '@models.orders.Order.OrderState.VERIFIED.getName()';
            }
            $scope.isShipped = function(order) {
                if(order != null) return order.state == '@models.orders.Order.OrderState.SHIPPED.getName()';

            };

            $scope.changeState = function() {
                console.log($scope.selectedOrder);
                jsRouter.controllers.Orders.changeState()
                .ajax({
                    cache: false,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        state: $scope.state,
                        orderId: $scope.selectedOrder.id
                    }),
                    success: function() {
                        $scope.$apply(function() {
                            $scope.getOrders();
                            $('#confirmModal' ).modal('hide');
                        })
                    }
                })
            };

            $scope.sendOutOrder = function(order) {
                $scope.errors = {};
                jsRouter.controllers.Orders.sendOutOrder()
                .ajax({
                    cache: false,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        orderId: order.id,
                        selectedDate: $scope.selectedOrder.selectedDate,
                        amount: $scope.selectedOrder.amount
                    }),
                    success: function(data){
                        $scope.$apply(function(){
                            $scope.getOrders();
                            $('#sendOutModal' ).modal('hide');
                        })
                    },
                    error: function(res) {
                        $scope.$apply(function() {
                            $scope.errors = res.responseJSON;
                            console.log(res.responseJSON);
                        })
                    }
                })
            };

            $scope.wfsOrder = function() {
                $scope.errors = {};
                console.log($scope.selectedOrder.transport.driver);
                jsRouter.controllers.Orders.wfsOrder()
                .ajax({
                    cache: false,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: $scope.selectedOrder.id,
                        driverId: $scope.selectedOrder.transport.driver.id,
                        truckId: $scope.selectedOrder.truck.id
                    }),
                    success: function(data) {
                        $scope.$apply(function() {
                            $scope.getOrders();
                            $('#wfsModal' ).modal('hide');
                        })
                    },
                    error: function(res) {
                        $scope.$apply(function() {
                            $scope.errors = res.responseJSON;
                        })
                    }
                })
            };

            $scope.shippedOut = function(id) {
                jsRouter.controllers.Orders.shippedOut()
                .ajax({
                    cache: false,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        transportId: id
                    }),
                    success: function(data){
                        $scope.$apply(function(){
                            $scope.getOrders();
                        })
                    }
                })
            };

            $scope.downloadPDF = function(transport) {
                window.open(jsRouter.controllers.PDFExport.deliveryLetter(transport.id ).url, '_blank');
            };

            $scope.openOrderModal = function() {
                $('#orderModal' ).modal('show');
            }
        })

    </script>
}

@menubar("Megrendelések", scripts, activeMenu) {
    <div ng-controller="OrderController">

        <h1>Megrendelések</h1>
        <hr>
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li role="presentation" class="active"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">Új / Visszadobott</a></li>
                <li role="presentation"><a href="#waiting" aria-controls="waiting" role="tab" data-toggle="tab">Ügyfélre váró</a></li>
                <li role="presentation"><a href="#verified" aria-controls="verified" role="tab" data-toggle="tab">Ügyfél által jóváhagyott</a></li>
                <li role="presentation"><a href="#wfs" aria-controls="wfs" role="tab" data-toggle="tab">Kiszállításra vár</a></li>
                <li role="presentation"><a href="#shipped" aria-controls="shipped" role="tab" data-toggle="tab">Kiszállított</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="new">
                    <div ng-if="newOrders.length == 0" style="text-align: center; margin-top:10px; font-style: italic; color:red;">
                        <i class="fa fa-exclamation-triangle"></i> A lista üres</div>
                    @views.html.orders.ordersList.render("order in newOrders", true)
                </div>

                <div role="tabpanel" class="tab-pane fade" id="waiting">
                    <div ng-if="waitingOrders.length == 0" style="text-align: center; margin-top:10px; font-style: italic; color:red;">
                        <i class="fa fa-exclamation-triangle"></i> A lista üres</div>
                    <div ng-if="waitingOrders.length != 0">
                        @views.html.orders.ordersList.render("order in waitingOrders", false)
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="verified">
                    <div ng-if="verifiedOrders.length == 0" style="text-align: center; margin-top:10px; font-style: italic; color:red;">
                        <i class="fa fa-exclamation-triangle"></i> A lista üres</div>
                    <div ng-if="verifiedOrders.length != 0">
                        @views.html.orders.ordersList.render("order in verifiedOrders", false)
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="wfs">
                    <div ng-if="wfsTrans.length == 0" style="text-align: center; margin-top:10px; font-style: italic; color:red;">
                        <i class="fa fa-exclamation-triangle"></i> A lista üres</div>
                    <div ng-if="wfsTrans.length != 0">
                        @views.html.orders.transportList.render("t in wfsTrans", true)
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="shipped">
                    <div ng-if="shippedOrders.length == 0" style="text-align: center; margin-top:10px; font-style: italic; color:red;">
                        <i class="fa fa-exclamation-triangle"></i> A lista üres</div>
                    <div ng-if="shippedOrders.length != 0">
                        @views.html.orders.transportList.render("t in shippedOrders", false)
                    </div>
                </div>
            </div>
        </div>

        @views.html.orders.orderModal.render()
        @helper.confirmationModal.render("changeState()", "Biztosan megváltoztattja a kiválasztott megrendelés státuszát?")
        <div class="modal fade" id="wfsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 ng-if="selectedOrder.id != null" class="modal-title" id="myModalLabel">Kiszállításra átadás</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" ng-submit="wfsOrder()">

                            <div class="form-group">
                                <label for="date" class="col-sm-3 control-label">Választott időpont</label>
                                <div class="col-sm-8">
                                    <input id="date" type="text" class="form-control" ng-model="selectedOrder.selectedDate" disabled>
                                </div>
                            </div>

                            <div class="form-group {{ errors.driverId ? 'has-error':'' }}">
                                <label for="driver" class="col-sm-3 control-label">Sofőr</label>
                                <div class="col-sm-8">
                                    <select id="driver" class="form-control needsclick" ng-model="selectedOrder.transport" ng-options="t.driver.name for t in transporters">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group {{ errors.truckId ? 'has-error':'' }}">
                                <label for="truck" class="col-sm-3 control-label">Gépjármű</label>
                                <div class="col-sm-8">
                                    <select id="truck" class="form-control needsclick" ng-model="selectedOrder.truck" ng-options="truck.lpNumber for truck in selectedOrder.transport.trucks">
                                    </select>
                                </div>
                            </div>

                            <span style="text-align:center;color:red" ng-repeat="error in errors.transport">
                                <i class="fa fa-exclamation-triangle"></i> {{error}}</span>
                            <div class="modal-footer">
                                <button type="button" ng-click="clearOrder()" class="btn btn-default" data-dismiss="modal">Mégsem</button>
                                <button type="submit" class="btn btn-primary">Mentés</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
}