@(iteration: String, shippedOut: Boolean)

<div class="panel panel-default">
  <div class="panel-body">
    <div class="list-group">
      <a class="list-group-item"  ng-repeat="@iteration">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{t.date}} {{t.driver.name}} {{ t.truck.lpNumber }}
            @if(shippedOut){
              <input type="button" class="btn btn-success pull-right panel-heading-button" value="Kiszállítva" ng-click="shippedOut(t.id)" >
              }
          </div>
          <div class="panel-body">
            <div class="list-group" ng-repeat="ti in t.transportItems">
              <h4 class="list-group-item-heading">{{t.client.name}} <br /></h4>
              <h4 class="list-group-item-text">Választott időpont: <small>{{ti.date}}</small></h4>
              <h4 class="list-group-item-text">Termék név: <small>{{ti.productName}}</small></h4>
              <h4 class="list-group-item-text">Termék tulajdonság: <small>{{ti.productType.name}}</small></h4>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>