@(redirect: String)

@scripts = {
    @helper.javascriptRouter("jsRouter")(
        controllers.routes.javascript.Application.login,
        controllers.routes.javascript.Application.authenticate
    )
    <script type="text/javascript">
        app.controller('LoginController', ['$scope', function($scope) {

            $scope.errors = {};
            $scope.email = null;
            $scope.password = null;

            $scope.authenticate = function() {
                $scope.errors = {};
                jsRouter.controllers.Application.authenticate().ajax({
                    method: 'post',
                    cache: false,
                    contentType: "application/json",
                    data: JSON.stringify( {
                        email : $scope.email,
                        password : $scope.password,
                        redirect: "@redirect"
                    }),
                    success: function() {
                        $scope.$apply(function() {
                            window.location = "/";
                        })
                    },
                    error: function(response) {
                        $scope.$apply(function(){
                            $scope.errors = response.responseJSON;
                        });
                    }
                });
            }
        }])

    </script>
}

@main("Login", scripts) {
    <div ng-controller="LoginController">
        <form id="loginForm" class="form" role="form" ng-submit="authenticate()">

            <div class="panel login-panel">
                <div class="panel-heading" style="text-align: center;">
                    <span class="login-header">Bejelentkezés</span>
                </div>
                <hr/>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label">E-mail cím</label>
                        <input type="email" ng-model="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class=" control-label">Jelszó</label>
                        <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="panel-footer" style="text-align: left; background: none; border: 0; padding: 0; padding-left: 15px">
                    <div class="form-group">
                        <button class="btn btn-primary" class="btn btn-default">Bejelentkezés</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
}